<!DOCTYPE html>
<html lang="en">
<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Essu Borrower</title>
    <link rel="stylesheet" href="{% static 'borrower_app/css/new.css' %}">
</head>
<body>
        <nav class="side-bar">
            <img class="logo" src="{% static 'borrower_app/images/essu_logo_no_text.png' %}">
            <a class="nav-link active" href="{% url 'home' %}">Home</a>
            <a class="nav-link active" href="{% url 'pending_items' %}">Pending Items</a>
            <a class="nav-link active" href="{% url 'return_items' %}">Return Items</a>
        </nav>
    {% block content %}
    {% endblock content %}

</body>
</html>
