{% extends "borrower_app/control_panel.html" %}

{% block content %}
<form method="POST"  action="{% url 'modify_borrower' borrower.id %}">
    {% csrf_token %}
    <h1 class="form-header">FORM</h1>
    <div class="data-container">
        <label>Last Name:</label>
        <input type="text" name="last_name" value="{{ borrower.last_name }}" required><br>
        <label>First Name:</label>
        <input type="text" name="first_name" value="{{ borrower.first_name }}" required><br>
        <label>Middle Name:</label>
        <input type="text" name="middle_name" value="{{ borrower.middle_name }}" required><br>
        <label>Item Name:</label>
        <input type="text" name="item_name" value="{{ borrower.item_name }}" required><br>
        <label>Item Quantity:</label>
        <input type="number" name="item_quantity" value="{{ borrower.item_quantity }}" required><br>
        <button type="submit" class="save-btn">Save Changes</button>
        <button type="submit" class="cancel-btn">Cancel</button>
    </div>
</form>
{% endblock content %}
