{% extends "borrower_app/control_panel.html" %}

{% block content %}



    <nav class="pic-container"></nav>
     <button class="scan-printer-button" onclick="ScanPrinter()">
        Scan for Printer
    </button>
    <button class="scan-paper-button">
        Scan Paper
    </button>
    <button class="delete-button">Enter Manually</button>
    <nav class="pic-container">

    </nav>


    <script>
        function ScanPrinter(){
            fetch('/scan_printer/')
            .then(response => response.text())
            .then(data => alert(data))
            .catch(error => console.error("Error:", error))
        }
    </script>

{% endblock content %}
