{% extends "borrower_app/control_panel.html" %}

{% block content %}
    <div class="home-container">
        <button class="scan-paper-button" onclick="ScanPaper()">
            Scan Paper
        </button>
        <br>
        <form method="POST" action="{% url 'borrower_form_view' %}">
            {% csrf_token %}
        <button class="scan-paper-button">
            Submit
        </button>
        </form>
        <br>
        <form method="POST" action="{% url 'manual_input' %}">
            {% csrf_token %}
            <button class="manual-button">Enter Manually</button>
        </form>
    </div>
    <br>

    <div class="pic-container">
            <p id="scan-status" class="scan-info"></p>
    </div>

    <script>
        
        function ScanPaper() {
            const scanStatus = document.getElementById('scan-status');
            scanStatus.textContent = "Scanning...";

            fetch('/scan/')
                .then(response => response.text())
                .then(data => {
                    scanStatus.textContent = data;
                })
                .catch(error => {
                    console.error("Error:", error);
                    scanStatus.textContent = "Error scanning paper.";
                });
        }
    </script>
{% endblock content %}

