<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'borrower_app/css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM3KQh2p/5ZgZxuj+fYbPj4WmTgWgdm0M3RQtxg" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>


        <div class="main-container">
            <div class="login-container">
                <div class="left-box">
                    <div class="featured-image">
                        <img src="{% static 'borrower_app/images/essu_logo.jpg' %}" class="img-fluid">
                    </div>
                    <p class="borrower-text">Borrower</p>
                </div>
                <div class="right-box">
                    <div class="header-text">
                        <h2>Login</h2>
                    </div>
                    <form action="{% url 'control_panel' %}" method="POST">
                    {% csrf_token %}
                        <input  type="text" class="input-field" placeholder="Username" id="username" name="username" required>
                        <input type="password" class="input-field" placeholder="Password" id="password" name="password" required>
                    <div class="input-group">
                        <button class="login-btn" type="submit">Login</button>
                        <a href="{% url 'sign_in' %}" class="nav-link active">Create Your Acc  &#8594</a>
                    </div>
                    </form>
                </div>
            </div>
        </div>

</body>
</html>
