/* Custom Navbar Styles */
body{
    background: white;

}

.navbar-brand {
  font-weight: 700;
  font-size: 2rem; /* Increase the size of the brand text */
  margin-left: 10rem; /* Custom margin for spacing */
}

.nav-link {
  color: #fff !important;
  font-size: 1rem; /* Increase the size of the nav links */
}


.nav-link:hover {
  color: #e9ecef !important;
}

.btn-danger {
  font-weight: 600;
  font-size: 1.1rem; /* Increase button font size */
}

.form-control {
  border-radius: 0.25rem;
}

.featured-image {
  margin-left: 50px; /* Adjust the margin as needed */
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23fff" viewBox="0 0 30 30"%3E%3Cpath stroke="rgba%280,0,0,0.5%29" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

.sidebar {
  height: 100vh;
  width: 170px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #198754;
  padding-top: 1rem;
}

.sidebar .nav-link {
  color: #fff;
}

.sidebar .nav-link:hover {
  background-color: #104700;
}

.content {
  margin-left: 150px;
  padding: 2rem;
}

table, th, td {
  border: 1px solid black;
}